.LandingPage{



    .coures-heading{
        text-align: center;
    }
    .coures-exams{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 200px;
    }
     #coures-exams-btn{
        padding: 10px;
     }
    .courses{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // text-align: center;
        // display: inline;
        // display: table-row;
    }
    // .coures-exams-li{
    //     list-style: none;
        
    // }
    // .exams-li{
    //     list-style: none;
    // }
}




